.decouverte{
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}
.evens{
    margin-left: 50px;
    color: #CE0033;
}
.carte{
    display: flex;
}
.carte1{
   margin-right: 50px;
    background: #CE0033;
    color: white;
    width: 400px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}

.date{
    padding-left: 20px;
}
.next{
    padding-left: 20px;
    margin-top: 20px;
  
}
.next div{
    font-size: 10px;
    display: inline-block;
    flex-direction: row;
    
}
.next div h4{
    display: flex;
}
.next div h4 hr{
    width: 20px;
    margin-left: 5px;
}
.back{
    background: white;
    border-radius: 50px;
    width: 40px;
    height: 30px;
    color: #CE0033;
    margin-top: 50px;
    /* margin-left: 10px; */
    margin-right: 30px;
}
.back i{
    padding-top: 7px;
    padding-left: 7px;
}
.decouverte h4{
    text-align: center;
    /* padding-right: 100px; */
}